/***************************
Image Classes
****************************/

.dashboard-screenshot-md {
  max-height: 350px;
  margin-top: 350px; /*** Temporary Solution, please fix! ***/
}

.features-5:before {
  background: none;
}

@media screen and (max-width: 480px) {
  #banner-header br {
    display: none;
  }

  #footer-contact {
    float: none !important;
  }
}

