/***************************
Add your custom styles below
****************************/

.testimonial-section {
  padding-top: 4em;
  padding-bottom: 4em;
}

.testimonial-image {
  max-height: 10em;
  margin-bottom: 0.5em;
}

h5, .h5 {
  margin-bottom: 0.75em;
}
